.divNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 6vh;
    flex-wrap: nowrap;
    align-items: auto;
    background-color: yellow;
}

.divLogo {
    display: flex;
    justify-content: center;
    width: 30%;
    max-height: 100%;

}

.divMenu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%
}

.divCrear {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: right;

}

.logoImg {
    max-height: 100%;
}

.buttonCreate {
    border-radius: 25%;
    background-color: rgb(78, 177, 248);
    color: black;
    width: 70%;
    height: 70%;
    margin-right: 10%;
    cursor: pointer;
}

.homeAbout {
    cursor:pointer;
    text-decoration: underline;
}